@font-face {
font-family: 'PFDinTextPro-Light';
    
    src: url("../fonts/PFDinTextPro-Light.eot") format('embedded-opentype'),
         url("../fonts/PFDinTextPro-Light.woff") format('woff'),
         url("../fonts/PFDinTextPro-Light.woff2") format('woff2');
}

@font-face {
font-family: 'PFDinTextPro-Regular';
    
    src: url("../fonts/PFDinTextPro-Regular.eot") format('embedded-opentype'),
         url("../fonts/PFDinTextPro-Regular.woff") format('woff'),
         url("../fonts/PFDinTextPro-Regular.woff2") format('woff2');
}

@font-face {
font-family: 'PFDinTextPro-Medium';
    
    src: url("../fonts/PFDinTextPro-Medium.eot") format('embedded-opentype'),
         url("../fonts/PFDinTextPro-Medium.woff") format('woff'),
         url("../fonts/PFDinTextPro-Medium.woff2") format('woff2');
}